<hr>
<footer class=" text-primary-emphasis bg-warning border border-dark">
    <img src="/imgs/card.png" class="w-100">
    <h4>Endereço: Rua Jardim Sound, Vila Acordes - 666</h4>
    <h4>Registro, SP - Brasil</h4>
    <h4>Atendimentos Online a partir das 09:00 até as 18:00 (BRT -03:00) de Segunda à Sexta.</h4>
    <h5>Telefone para Contato: (13)3212-0406</h5>
    <h5>Email para Contato: panorama@pan.com.br</h5>
<h6>Panorama®</h6>
</footer>
<br>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="/js/js.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
</html>